#fb-like-box
  %p
    = image_tag 'layout/facebook.png'
    = link_to 'Prima na Facebooku', 'http://facebook.com/PrimaRewal', target: :_blank

  #fb-root
  = content_tag :div, '', class: 'fb-like', data: @options
