.box-shadowed
  %h4= t('contact.header')
  .box-inner
    %h5 Apartamenty PRIMA
    %p
      ul. Piastowska 28 <br/>
      72-344 Rewal
    %p
      <b>tel.</b>: +48 91 3862 447 <br/>
      <b>kom.</b>: +48 693 868 069 <br/>
      <b>fax.</b>: +48 91 3862 447
    %p
      <b>e-mail<b/>: #{mail_to 'prima@prima-rewal.pl'}
