footer
  background: #f3edb9 url('layout/footer.png') top center no-repeat
  height: 85px
  width: 100%
  padding-top: 20px
  color: #757575

  p
    position: relative
    z-index: 1001
    float: left
    font-size: 11px
    line-height: 20px

    img
      vertical-align: middle
      margin-left: 4px

  h2
    padding-top: 5px
    float: right
    font-size: 35px
    font-family: 'Annie Use Your Telescope', cursive
    color: #fff
    text-shadow: 1px 1px 0px #509ab0
    filter: dropshadow(color=#509ab0, offx=1, offy=1)


  #fb-like-box
    z-index: 1000
    float: left
    margin-right: 60px
    position: relative

    p
      font-size: 14px
      margin-bottom: 0px

      img
        margin-bottom: 4px
        margin-left: 0px

    .fb-like-box
      float: left
      margin-left: 100px

  .menu-list
    padding-top: 58px
    font-size: 12px
    position: absolute
    list-style-type: none
    margin: 0

    li
      float: left
      padding-left: 15px

      &:first-child
        padding-left: 0px

      a
        color: #fff
        text-shadow: 1px 1px 0px #509ab0
        filter: dropshadow(color=#509ab0, offx=1, offy=1)

        &:hover
          color: #00BFFF
          text-decoration: underline


